@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
.mtext {    
     font-family: 'Outfit';
     font-size: 25px;
     font-weight: 900;
     text-align: center;     
}
.stext {
    text-align: center;
    font-family: 'Outfit';
    font-size: 17px;
    font-weight: 100;
    color: hsl(213, 8%, 50%);
}
.attribution {
    font-size: 11px;
    text-align: center;
 }
.attribution {
    color: hsl(228, 45%, 44%);
 }
.center {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-trasnform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 300px;
    border: 15px solid white;
    padding-bottom: 3%;
    margin: 20px;
    border-radius: 25px;
    background-color: white;
    text-align: center;
 }
.img {
    max-width: 100%;
    height: auto;
    border-radius: 5%;
 }
 .background {
     background-color:#D4E0EE;
 }